{% extends "base.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h2>Desarrolladores</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Página Web</th>
      <th>Twitter</th>
      <th>Disponible para Empleo / Contrato</th>
      <th>Email</th>
      <th>Areas de Interés / Experticia</th>
      <th>Proyecto / Empleo</th>
      <th>Ciudad</th>
    </tr>
  </thead>
  <tbody>
    {% for developer in object_list %}
    <tr>
      <td>{{ developer.get_full_name|default:"" }}</td>
      <td><a href="{{ developer.website|default:""}}">{{ developer.website|default:""}}</a></td>
      <td>
        {% if developer.twitter_handle %}
        <a href="https://twitter.com/{{developer.twitter_handle}}">@{{developer.twitter_handle}}</a>
        {% endif %}
      </td>
      <td>{% if developer.available %}SI{%else%}NO{% endif %}</td>
      <td>{% if developer.show_email %}{{ developer.email }}{% else %}NO SE MUESTRA{% endif %}</td>
      <td>{{ developer.interests|default:"" }}</td>
      <td>{{ developer.project|default:"" }}</td>
      <td>{{ developer.location|default:"" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
