{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block content %}
<h2>Inscripción de Desarrollador</h2>
<form action="{% url "developer_create" %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form|as_bootstrap}}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
{% endblock %}
